{% extends "cafe/base.html" %}

{% block content %}
<section class="row">
	<a href="/admin/">
	<div class="col-md-12 col-md-4 img-hover">
    	<img class="img-responsive img-rounded" src="/static/docs/images/ingrid.jpg" alt="Logga in!" width="100%"/>
		<h3>Visthusets cykelverksamhet vid Göta kanal!</h3><br>
	</div>
	</a>
	<a href="/docs/">
	<div class="col-md-12 col-md-4 img-hover">
		<img class="img-responsive img-rounded" src="/static/docs/images/glass.jpg" alt="Kolla in vår dokumentation!" width="100%"/>
 		<h3 top="100%">Kolla in vår dokumentation!</h3>
	</div>
	</a>
	<a href="/docs/">
	<div class="col-md-12 col-md-4 img-hover">
		<img class="img-responsive img-rounded" src="/static/docs/images/glass.jpg" alt="Kolla in vår dokumentation!" width="100%"/>
 		<h3 top="100%">Kolla in vår dokumentation!</h3>
	</div>
	</a>
	<a href="/docs/">
	<div class="col-md-12 col-md-4 img-hover">
		<img class="img-responsive img-rounded" src="/static/docs/images/glass.jpg" alt="Kolla in vår dokumentation!" width="100%"/>
 		<h3 top="100%">Kolla in vår dokumentation!</h3>
	</div>
	</a>
	<a href="/docs/">
	<div class="col-md-12 col-md-4 img-hover">
		<img class="img-responsive img-rounded" src="/static/docs/images/glass.jpg" alt="Kolla in vår dokumentation!" width="100%"/>
 		<h3 top="100%">Kolla in vår dokumentation!</h3>
	</div>
	</a>
	<a href="/docs/">
	<div class="col-md-12 col-md-4 img-hover">
		<img class="img-responsive img-rounded" src="/static/docs/images/glass.jpg" alt="Kolla in vår dokumentation!" width="100%"/>
 		<h3 top="100%">Kolla in vår dokumentation!</h3>
	</div>
	</a>
</section>
{% endblock %}