{% extends 'cafe/base.html' %}
{% block content %}
<section class="row">
	<div class="row">
		<div class="col-md-12 col-md-8">
			<h1 > Café Visthusets meny! </h1>
			<p>
				På Café Visthuset i Töreboda serverar vi ett brett sortiment. Oavsett om du är, 
				fikasugen eller hungrig på något matigare, vill ha något svalkande kallt eller något 
				värmande, så har vi något för dig! Nedan kan du ta del av vårt utbud. 
			</p>
			

			<h2>Riktigt gott kaffe!</h3>
			<p>
				Vi tycker det är viktigt med kvalitet i det vi serverar. Därför vill vi satsa på kärnan i caféet, 
				nämligen kaffet. Med olika bryggmetoder som på olika sätt lyfter kaffets 
				smaker vill vi dela med oss av en kaffeupplevelse och förmedla kaffekunskap. 
				Vi samarbetar med Johan och Nyström Kafferostare och Tehandlare. Kaffet är certiferat enligt 
				Fairtrade eller Direct Trade, vilket är Johan och Nyströms märkning där en stabil 
				handelsrelation och bra betalt är viktigt, precis som miljösatsningar. 
				Allt för att vi ska kunna servera Törebodas bästa kopp kaffe! 
				Om du vill ta med dig vår goda kaffeupplevelse hem så finns bönorna att köpa med sig hem i vår butik, 
				hela eller malda. <br>
				Läs mer om vårt kaffe på www.johanochnystrom.se och på www.lovecoffee.se
			</p>
		</div>

		<div class="col-md-12 col-md-4">
			<img class="img-responsive img-rounded" src="/static/docs/images/glass.jpg" alt="Glass!" width="100%"/>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 col-md-8">
			<h2> Lunch</h2>
			<p>
				I Café Visthusets sortiment finns förutom kaffe och sötsaker också matigare alternativ för den hungrige. 
				Vi jobbar med lokala varor av hög kvalitet, många av dessa varor hittar du dessutom i vår butik så att du kan 
				njuta av dem även hemma. 
			</p>
			<h3> Pajer </h3>
			<p>
				Prova våra fina pajer med sallad. Sortimentet varierar något från dag till dag men innehåller oftast Taco, Kyckling, Grekisk, och Lax & Spenat
			</p>
			<h3>Grillade mackor</h3>
		<p>
			Våra populära grillade smörgåsar med sallad är ytterligare ett lunchalternativ. Dessa gör vi på surdegsbröd, bakat i det lokala bageriet, och med sallad från en odlare bara 2 km bort. 
		</p>
		<p>
			Våra varianter på smörgåsar är:<br>
			- Tomat, mild Gäseneost och basilika (Vegetarisk)<br>
			- Varmrökt klakonbröstfilé med färskost och ärtskott<br>
			- Kryddig lammkorv och mild Gäseneost<br>
			- Pulled Turkey med hemgjord barbequesås och vår picklade rödlök
		</p>
		</div>
		<div class="col-md-12 col-md-4">
			<img class="img-responsive img-rounded" src="/static/docs/images/glass.jpg" alt="Glass!" width="100%"/>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 col-md-8">
			<h3> Sommarbrunch</h3>
			<p>
				På söndagar serverar vi vår somriga brunch med massor av fräscha godsaker såsom finpizza, färsk frukt, våfflor, 
				småtugg och såklart en liten sötsak till! 
			</p>
			<p>
				Helt enkelt allt som behövs för sköna söndagsmorgnar!
			</p>
			<p>
				Brunchen öppen söndagar kl. 10-13
			</p>
			<p>
				Vuxen: 145 kr <br>
				Barn: 75 kr 
			</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 col-md-8">
			<h3>Smörgåsar</h3>
			<p>
				Vi erbjuder även ett antal olika smörgåsar. Till dessa använder vi surdegsbröd eller tekakor från 
				vårt lokala bageri samt pålägg från lokala producenter. 
			</p>
			<p>
				I regel kan vi erbjuda följande varianter:<br>
			
				- Köttbullemacka - En klassiker! <br>
				- Räksmörgås med ägg och skagenröra <br>
				- Ostsmörgås <br>
				- Ost- och Skinksmörgås
			</p>
		</div>
		<div class="col-md-12 col-md-4">
			<img class="img-responsive img-rounded" src="/static/docs/images/glass.jpg" alt="Glass!" width="100%"/>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 col-md-8">
			<h3>Fika</h3>
			<h4> Får det lov att vara något sött till kaffet?</h4> 
			<p>Vårt utbud varierar under säsongen, 
				men några klassiker som vi utmed allt annat nästan alltid har att erbjuda är:
			</p>
			<p>
				- hembakta Chokladbollar med pärlsocker eller kokos <br>
				- hembakt morotskaka <br>
				- hembakt kladdkaka

			<p>
				I regel kan vi alltid erbjuda några raw food alternativ också, som vi bakar själva i vårt eget kök. 
				Vi kan ofta erbjuda sorter som exempelvis:
			</p>
			<p>
				- Key Lime Pie <br>
				- Choklad och Hallonkaka
			</p>
			<p>
				Den lokala glassmanufakturen "Klings" levrerar både lösglass och styckglass till oss. 
				Välj mellan ett brett urval av klassiska och nya smaker!
			</p>
			<p>
				En klassiker och mycket populärt bland både barn och vuxna är våra våfflor, 
				som vi gräddar färsk på beställning. Våfflorna serveras med lokalproducerad sylt och en klick grädde. 
			</p>
			<p>
				På riktigt varma sommardagar kan det vara gott med en kall dricka. Vi erbjuder därför även cider, 
				isté, must, saft, läsk och lättöl från flera olika lokala producenter.
			</p>
		</div>
	<div>
</section>
{% endblock %}