<!-- {% extends "cleaning/base.html" %} -->

<title>Visthuset Hälsokontroll</title>
<body>
<h1>Visthusets EKP och HACCP</h1>
<h2> Vad vill du göra?</h2>
<summary>På den här sidan kan du läsa om våra hälsorutiner, samt lägga in kontrollpunkter.
Läs mer om vad du kan göra</summary>
 
<ul>
	<li><h3>Lägg in kontrollpunkt för någon av följande:</h3>
	<ul>
		<li><a href="" >Frys</a></li>
		<li><a href="">Kyl</a></li>
		<li><a href="">Städning</a></li>
		<li><a href="">Varumottagning</a></li>
	</ul></li>
	<li><h3>Hitta en avvikelse:</h3>
		<!-- lägg på något sätt in en möjlighet här att kolla upp avvikelser -->
	</li>
	<li><h3><a href ="">Läs om våra allergener</a></h3>
				
	</li>
</ul>
</body>